@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
}
.slideContainer{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slideContent {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}
.image,
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: royalblue;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: royalblue;
}
.overlay::After {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.cardImg {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}
.cardImg .cardImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 4px solid royalblue;
}
.name{
    font-weight: 500;
    font-size: 18px;
    color: #333;
}
.deskripsi {
    font-size: 14px;
    color: #333;
    text-align: center;
}
.button {
    border: none;
    font-size: 16px;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    padding: 8px 16px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button:hover {
    background-color: rgb(44, 69, 146);
}

.swiperNavbtn {
    color: royalblue;
    transition: color 0.5s ease;
}
.swiperNavbtn:hover {
    color: rgb(44, 69, 146);
}
.swiperNavbtn::before,
.swiperNavbtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;    
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet {
    background-color: rgb(111, 146, 252);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: royalblue;
}

@media screen and (max-width: 768px) { 
    .slideContent {
        margin: 0 10px;
    }
    .swiperNavbtn {
        display: none;
    }
}